# ---------------- #
#     OPENAI       #
# ---------------- #

OPENAI_API_KEY=
OPENAI_MODEL=openai/gpt-5.5
VERBOSE=true

# ---------------- #
#     LIVEKIT      #
# ---------------- #

LIVEKIT_WEBHOOK=
LIVEKIT_API_KEY=
LIBEKIT_API_SECRET=
